In [1]:
from select import select
from odps import ODPS
from odps import options
from odps.df import DataFrame
import pandas as pd
import numpy as np

In [2]:
ACCESS_ID = 'LTAI5tHDArybZRnXaPS3pdkJ'
SECRET_ACCESS_KEY = 'lXXLM2U1dB3ExgKquGUwdGb88WHqkN'
ODPS_PROJECT = 'OpenDigger_prod_dev'
ODPS_ENDPOINT = 'http://service.cn-shanghai.maxcompute.aliyun.com/api'

In [3]:
o = ODPS(ACCESS_ID, SECRET_ACCESS_KEY,
         project=ODPS_PROJECT, endpoint=ODPS_ENDPOINT)
options.tunnel.limit_instance_tunnel = False

In [4]:
delete_sql = "DROP TABLE IF EXISTS temp_active_users_2021_1k;"
result = o.execute_sql(delete_sql)

In [4]:
create_sql = "CREATE TABLE IF NOT EXISTS temp_active_users_2021_1k ( actor_id bigint, record_num bigint);"

In [5]:
result = o.execute_sql(create_sql, hints={'odps.sql.allow.fullscan': 'true'})

In [6]:
insert_sql = "insert into temp_active_users_2021_1k select actor_id as actor_id, count(*) as record_num from ods_github_log where pt>='20210101' and pt<'20220101' group by actor_id order by count(*) DESC limit 1000;"

In [7]:
result = o.execute_sql(insert_sql, hints={'odps.sql.allow.fullscan': 'true'})
# res_users = result.open_reader().to_pandas()

In [10]:
result = o.execute_sql("select * from temp_active_users_2021_1k order by record_num limit 10", hints={'odps.sql.allow.fullscan': 'true'})
res_users = result.open_reader().to_pandas()

In [11]:
print(res_users)

   actor_id  record_num
0   4640101       25618
1   2841734       25675
2  12358972       25694
3  16950305       25736
4  39830572       25786
5  84543114       25805
6  27426792       25806
7  43134606       25882
8  77089745       25920
9   1580956       25932